<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calculator on Rails</title>
</head>
<body>

  <div>
    <h1>Calculator on Rails</h1>
  </div>

  <div>
    <br>
    <h2>Welcome to my little calculator!</h2>
    <h3>Unfortunately, you're going to have to do most of the work.</h3>
  </div>

  <div>
    <br>
    <p>To <b>add</b> two numbers, type <i>localhost:3000/add</i> into the browser, followed by <i>/[first number]/[second number].</i></p>
    <p>For example, to get 4 + 2, type "localhost:3000/add/4/2"</p>
    <br>
    <p>To <b>subtract</b> a number from another number, type <i>localhost:3000/subtract</i> into the browser, followed by <i>/[first number]/[second number].</i></p>
    <p>For example, to get 4 - 2, type "localhost:3000/subtract/4/2"</p>
    <br>
    <p>To <b>multiply</b> two numbers, type <i>localhost:3000/multiply</i> into the browser, followed by <i>/[first number]/[second number].</i></p>
    <p>For example, to get 4 * 2, type "localhost:3000/multiply/4/2"</p>
    <br>
    <p>To add <b>divide</b> a number from another number, type <i>localhost:3000/divide</i> into the browser, followed by <i>/[first number]/[second number].</i></p>
    <p>For example, to get 4 / 2, type "localhost:3000/divide/4/2"</p>
  </div>

</body>
</html>

